a(class='button' href='/') Return to the Homepage
a(class='button' href='/update-contact') Add Contact 
a(class='button' href='/update-object') Add Custom Object 
//- a(class='button' href='/contacts') Contacts Example