html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1.main__title Homepage | See custom object records 
        include includes/nav.pug
        div.cards 
            each service in data
                .card 
                    h1.card__name #{service.properties.marketing_service_name} 
                        h3.card__name #{service.properties.name} 
                        p.description #{service.properties.service_description} 
                    