@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6  {
    margin: 1rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    flex-basis: 31%;
    margin: 1rem 0.4rem;
    padding: 1rem 0.4rem 2.5rem 0.4rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}

.button {
    background: teal;
    border: 1px solid navy;
    border-radius: 6%;
    margin: 10px;
    padding: 10px 30px;
    color: white;
}


.form {
    max-width: 180px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid navy;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }


/* Custom  Styles */  

p.card__email {
    margin: 1rem;
}
  
p.card__name {
    font-weight: 900;
    margin: 1rem;
}


.main__title {
    margin: 3rem 1rem;
}

span.navigation {
    margin: 3rem 1rem;
}